In [1]:
# CSV 파일 전처리
# 엑셀로 만든 CSV 파일 인코딩을 엑셀에서 UTF-8로 저장해도 UTF-8 이나 EUC-KR 로 인코딩할 때 에러 발생
# CP949로 인코딩 성공
# NaN 확인할 때는 import math -> math.isnan(x)

def clean_file(fileName, save=False, replace=False):
    import pandas as pd
    if replace:
        save = True
    [fname, ftype] = str(fileName).split('.')
    try:
        if ftype == 'csv':
            df = pd.read_csv(fileName, dtype={'거래처코드':'str'})
            print(fileName+ ' is loaded with encoding = UTF-8')
        elif ftype == 'xlsx':
            df = pd.read_excel(fileName)
        df = col_check(df)
        if not replace:
            fileName = fname+'_cleaned.'+ftype
        if save:
            if ftype == 'csv':
                df.to_csv(fileName, index=False)

            elif ftype == 'xlsx':
                df.to_excel(fileName, index=False)
        return df
    except UnicodeDecodeError:
        df = pd.read_csv(fileName, encoding='CP949')
        print(fileName+ ' is loaded with encoding = CP949')
        df = col_check(df)
        return df
    except Exception as ex:
        print('%s' % (ex))

def col_check(df):
    colList = list(df.columns)
    for col in colList:
        if "Unnamed:" in col:  # 이름이 없는 칼럼 삭제
            df = df.drop(col, axis=1)
            colList = list(df.columns)
    newcolList = []
    for col in colList:
        if "\t" in col:
            new = str(col).replace('\t', '')
        else:
            new = col
        newcolList.append(new)
    df.columns = newcolList
    return df

In [ ]:
fDir = 'C:/vscodeFiles/'
fileName = 'result.csv'
df = clean_file(fDir+fileName)

In [ ]:
df.to_csv(fDir+fileName, encoding='UTF-8')

In [5]:
# 해당 모듈들이 설치되어 있어야 함
# sqlalchemy, pymssql
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import select
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import text
from sqlalchemy.engine.url import URL
from sqlalchemy.types import NVARCHAR
import pymssql

db_url = {
    'database': "dbo.sales_main",
    'drivername': 'mssql+pymssql',
    'username': 'se2p00',
    'password': 'rmeo9821',
    'host': 'fz_sa_dgkim', #'DESKTOP-641NT7L', '192.168.55.231', '222.234.151.23'
    'port': '1433',
    'query': {'charset': 'UTF-8'},  # the key-point setting
}

engine = create_engine(URL(**db_url), echo=True)

In [6]:
#engine = create_engine("mssql+pyodbc://user:password@host:port/databasename?driver=ODBC+Driver+17+for+SQL+Server")
#engine = create_engine('mssql+pymssql://se2p00:rmeo9821@laptop-dgkim:1433/dbo.sales_main', echo=True)
# session 생성
sales_all = pd.read_sql_table('sales_all', con=engine)
sales_all

2023-05-03 17:29:42,742 INFO sqlalchemy.engine.Engine select @@version
2023-05-03 17:29:42,743 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-03 17:29:42,745 INFO sqlalchemy.engine.Engine SELECT schema_name()
2023-05-03 17:29:42,746 INFO sqlalchemy.engine.Engine [generated in 0.00089s] {}
2023-05-03 17:29:42,757 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2023-05-03 17:29:42,758 INFO sqlalchemy.engine.Engine [generated in 0.00068s] {}
2023-05-03 17:29:42,760 INFO sqlalchemy.engine.Engine SELECT 1 FROM fn_listextendedproperty(default, default, default, default, default, default, default)
2023-05-03 17:29:42,761 INFO sqlalchemy.engine.Engine [generated in 0.00092s] {}
2023-05-03 17:29:42,813 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-03 17:29:42,819 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_1)s AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_2)s AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2023-05-03 17:29:42,820 INFO sqlalchemy.engine.Engine [generated in 0.00141s] {'table_type_1': 'BASE TABLE', 'table_type_2': 'VIEW', 'table_name_1': 'sales_all', 'table_schema_1': 'dbo'}
2023-05-03 17:29:42,833 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_1)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2023-05-03 17:29:42,833 INFO sqlalchemy.engine.Engine [generated in 0.00070s] {'table_schema_1': 'dbo', 'table_type_1': 'BASE TABLE'}
2023-05-03 17:29:42,859 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC) AS increment_value, CAST(sys.extended_properties.value AS NVARCHAR(max)) AS comment
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(%(table_schema_1)s AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(%(table_schema_1)s AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.extended_properties ON sys.extended_properties.class = %(class_1)s AND sys.extended_properties.major_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(%(table_schema_1)s AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.extended_properties.minor_id = [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION] AND sys.extended_properties.name = CAST(%(name_1)s AS NVARCHAR(max))
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_2)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2023-05-03 17:29:42,860 INFO sqlalchemy.engine.Engine [generated in 0.00112s] {'table_schema_1': '.', 'class_1': 1, 'name_1': 'MS_Description', 'table_name_1': 'sales_all', 'table_schema_2': 'dbo'}
2023-05-03 17:29:42,930 INFO sqlalchemy.engine.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME], objectproperty(object_id([C].[TABLE_SCHEMA] + CAST(%(table_schema_1)s AS NVARCHAR(max)) + [C].[CONSTRAINT_NAME]), %(objectproperty_1)s) AS is_clustered
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(table_schema_2)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME], [C].[ORDINAL_POSITION]
2023-05-03 17:29:42,931 INFO sqlalchemy.engine.Engine [generated in 0.00106s] {'table_schema_1': '.', 'objectproperty_1': 'CnstIsClustKey', 'table_name_1': 'sales_all', 'table_schema_2': 'dbo'}
2023-05-03 17:29:43,059 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_1)s AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_2)s AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2023-05-03 17:29:43,060 INFO sqlalchemy.engine.Engine [cached since 0.2412s ago] {'table_type_1': 'BASE TABLE', 'table_type_2': 'VIEW', 'table_name_1': 'sales_all', 'table_schema_1': 'dbo'}
2023-05-03 17:29:43,062 INFO sqlalchemy.engine.Engine WITH fk_info AS (
    SELECT
        ischema_ref_con.constraint_schema,
        ischema_ref_con.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_ref_con.unique_constraint_schema,
        ischema_ref_con.unique_constraint_name,
        ischema_ref_con.match_option,
        ischema_ref_con.update_rule,
        ischema_ref_con.delete_rule,
        ischema_key_col.column_name AS constrained_column
    FROM
        INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS ischema_ref_con
        INNER JOIN
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col ON
            ischema_key_col.table_schema = ischema_ref_con.constraint_schema
            AND ischema_key_col.constraint_name =
            ischema_ref_con.constraint_name
    WHERE ischema_key_col.table_name = CAST(%(tablename)s AS NVARCHAR(max))
        AND ischema_key_col.table_schema = CAST(%(owner)s AS NVARCHAR(max))
),
constraint_info AS (
    SELECT
        ischema_key_col.constraint_schema,
        ischema_key_col.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_key_col.column_name
    FROM
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col
),
index_info AS (
    SELECT
        sys.schemas.name AS index_schema,
        sys.indexes.name AS index_name,
        sys.index_columns.key_ordinal AS ordinal_position,
        sys.schemas.name AS table_schema,
        sys.objects.name AS table_name,
        sys.columns.name AS column_name
    FROM
        sys.indexes
        INNER JOIN
        sys.objects ON
            sys.objects.object_id = sys.indexes.object_id
        INNER JOIN
        sys.schemas ON
            sys.schemas.schema_id = sys.objects.schema_id
        INNER JOIN
        sys.index_columns ON
            sys.index_columns.object_id = sys.objects.object_id
            AND sys.index_columns.index_id = sys.indexes.index_id
        INNER JOIN
        sys.columns ON
            sys.columns.object_id = sys.indexes.object_id
            AND sys.columns.column_id = sys.index_columns.column_id
)
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        constraint_info.table_schema AS referred_table_schema,
        constraint_info.table_name AS referred_table_name,
        constraint_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN constraint_info ON
            constraint_info.constraint_schema =
                fk_info.unique_constraint_schema
            AND constraint_info.constraint_name =
                fk_info.unique_constraint_name
            AND constraint_info.ordinal_position = fk_info.ordinal_position
    UNION
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        index_info.table_schema AS referred_table_schema,
        index_info.table_name AS referred_table_name,
        index_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN index_info ON
            index_info.index_schema = fk_info.unique_constraint_schema
            AND index_info.index_name = fk_info.unique_constraint_name
            AND index_info.ordinal_position = fk_info.ordinal_position

    ORDER BY fk_info.constraint_schema, fk_info.constraint_name,
        fk_info.ordinal_position

2023-05-03 17:29:43,065 INFO sqlalchemy.engine.Engine [generated in 0.00131s] {'tablename': 'sales_all', 'owner': 'dbo'}
2023-05-03 17:29:43,430 INFO sqlalchemy.engine.Engine select ind.index_id, ind.is_unique, ind.name, case when ind.index_id = 1 then cast(1 as bit) else cast(0 as bit) end as is_clustered, ind.filter_definition from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(%(tabname)s AS NVARCHAR(max)) and sch.name=CAST(%(schname)s AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0 order by ind.name
2023-05-03 17:29:43,430 INFO sqlalchemy.engine.Engine [generated in 0.00072s] {'tabname': 'sales_all', 'schname': 'dbo'}
2023-05-03 17:29:43,456 INFO sqlalchemy.engine.Engine select ind_col.index_id, ind_col.object_id, col.name, ind_col.is_included_column from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(%(tabname)s AS NVARCHAR(max)) and sch.name=CAST(%(schname)s AS NVARCHAR(max))
2023-05-03 17:29:43,457 INFO sqlalchemy.engine.Engine [generated in 0.00078s] {'tabname': 'sales_all', 'schname': 'dbo'}
2023-05-03 17:29:43,496 INFO sqlalchemy.engine.Engine
            SELECT cast(com.value as nvarchar(max))
            FROM fn_listextendedproperty('MS_Description',
                'schema', CAST(%(schema)s AS NVARCHAR(max)), 'table', CAST(%(table)s AS NVARCHAR(max)), NULL, NULL
            ) as com;

2023-05-03 17:29:43,497 INFO sqlalchemy.engine.Engine [generated in 0.00076s] {'schema': 'dbo', 'table': 'sales_all'}
2023-05-03 17:29:43,500 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_1)s AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_2)s AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max))
2023-05-03 17:29:43,501 INFO sqlalchemy.engine.Engine [generated in 0.00056s] {'table_type_1': 'BASE TABLE', 'table_type_2': 'VIEW', 'table_name_1': 'sales_all'}
2023-05-03 17:29:43,511 INFO sqlalchemy.engine.Engine SELECT sales_all.[구분], sales_all.[일자], sales_all.[품목구분], sales_all.[품목코드], sales_all.[품목명], sales_all.[최신 품목명], sales_all.[규격], sales_all.[수량], sales_all.[단위], sales_all.[단가], sales_all.[공급가], sales_all.[합계], sales_all.[거래처코드], sales_all.[거래처], sales_all.[거래처그룹1], sales_all.[거래처그룹2], sales_all.[담당자], sales_all.[개설연도], sales_all.[지역구분], sales_all.[인센가입], sales_all.[품목그룹1], sales_all.[품목그룹2], sales_all.[인센품목]
FROM sales_all
2023-05-03 17:29:43,512 INFO sqlalchemy.engine.Engine [generated in 0.00096s] {}
2023-05-03 17:29:58,799 INFO sqlalchemy.engine.Engine COMMIT

,구분,일자,품목구분,품목코드,품목명,최신 품목명,규격,수량,단위,단가,...,거래처,거래처그룹1,거래처그룹2,담당자,개설연도,지역구분,인센가입,품목그룹1,품목그룹2,인센품목
0,본사,2014-04-08,[제품],FBP-000014,TFB-G29ES 1Φ 220V 60HZ [Φ250],"●TFB-G29ES[Φ250] 1Φ 220V, 60HZ",TFB-G29ES,1,EA,134000,...,동북산업,영업_대리점,영업_산업,윤형설,2006이전,인천광역시 동구,적용,10_시로코팬,A2_소형시로코팬,Y
1,본사,2014-04-08,[제품],FBP-000053,TFS-GD30FS 1Φ 220V 60HZ,"●TFS-GD30FS 1Φ 220V, 60HZ",TFS-GD30FS,1,EA,237000,...,동북산업,영업_대리점,영업_산업,윤형설,2006이전,인천광역시 동구,적용,10_시로코팬,A5_스트레이트시로코팬,Y
2,본사,2014-04-08,[상품],FBP-000096,TFT-25 [50／60HZ],"TFT-25 1Φ 220V, 50/60HZ",TFT-25,1,EA,75000,...,동북산업,영업_대리점,영업_산업,윤형설,2006이전,인천광역시 동구,적용,30_덕트팬,C5_포터블팬,Y
3,본사,2014-04-08,[상품],FBP-000097,TFT-30 [50／60HZ],"TFT-30 1Φ 220V, 50/60HZ",TFT-30,2,EA,85000,...,동북산업,영업_대리점,영업_산업,윤형설,2006이전,인천광역시 동구,적용,30_덕트팬,C5_포터블팬,Y
4,본사,2014-04-08,[제품],FBP-000520,TFP-F35CS 1Φ 220V 60HZ,"●TFP-F35CSE 1Φ 220V, 60HZ",TFP-F35CSE,10,EA,33000,...,동북산업,영업_대리점,영업_산업,윤형설,2006이전,인천광역시 동구,적용,20_고압팬,B1_소형고압팬,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508595,본사,2014-04-08,[상품],FBP-000108,TFV14-4DF [50／60HZ]／[8개입],"TFV14-4DF 1Φ 220V, 50/60HZ",TFV14-4DF,16,EA,26000,...,(X)태성상사,영업_대리점,영업_산업,None,2006이전,전라남도 광주광역시,None,40_플라스틱팬,D2_씰링팬,Y1
508596,본사,2014-04-08,[제품],FBP-000631,TFV-10BV／[40개입],"TFV-10BV 1Φ 220V, 60HZ",TFV-10BV,80,EA,5200,...,(X)태성상사,영업_대리점,영업_산업,None,2006이전,전라남도 광주광역시,None,40_플라스틱팬,D1_플라스틱팬,Y1
508597,본사,2014-04-08,[제품],FBP-000632,TFV-13BV／[18개입],"TFV-13BV 1Φ 220V, 60HZ",TFV-13BV,54,EA,7100,...,(X)태성상사,영업_대리점,영업_산업,None,2006이전,전라남도 광주광역시,None,40_플라스틱팬,D1_플라스틱팬,Y1
508598,본사,2014-04-08,[제품],FBP-000005,TFB-G25DS 1Φ 220V 60HZ,"●TFB-G25DS 1Φ 220V, 60HZ",TFB-G25DS,7,EA,107000,...,동북산업,영업_대리점,영업_산업,윤형설,2006이전,인천광역시 동구,적용,10_시로코팬,A2_소형시로코팬,Y
508599,본사,2014-04-08,[제품],FBP-000009,TFB-F28FS 1Φ 220V 60HZ,"●TFB-F28FS 1Φ 220V, 60HZ",TFB-F28FS,4,EA,130000,...,동북산업,영업_대리점,영업_산업,윤형설,2006이전,인천광역시 동구,적용,10_시로코팬,A2_소형시로코팬,Y

In [ ]:
# Table 생성 테스트

from sqlalchemy.types import NVARCHAR, DATE, Integer
dataTypeList = [NVARCHAR]*(len(df.columns)-1)
columnList = list(df.columns)
dTypeDict = dict(zip(columnList, dataTypeList))
dTypeDict['일자'] = DATE
dTypeDict['단가'] = Integer
dTypeDict['공급가'] = Integer
dTypeDict['합계'] = Integer
dTypeDict['수량'] = Integer

conn = engine.connect()
df.to_sql(name='sales_main', con=engine,
          if_exists='replace', index=False, dtype=dTypeDict)
conn.close()
sales_main = pd.read_sql_table('sales_main', con=engine)

In [ ]:
# 조건에 해당하는 데이터 뽑기
newdf = sales_sample[sales_sample['단가'] > 1000000]
newdf.to_excel('sample.xlsx')

In [ ]:
sales_sample

In [ ]:
import pymssql

# DB 서버 주소
server = 'FZ_SA_DGKIM'
# 데이터 베이스 이름
database = 'dbo.sales_main'
# 접속 유저명
username = 'se2p00'
# 접속 유저 패스워드
password = 'rmeo9821'


# MSSQL 접속
cnxn = pymssql.connect(server, username, password, database)
cursor = cnxn.cursor()

# SQL문 실행
cursor.execute('SELECT * FROM dbo.sales_all;')