In [ ]:
# CSV 파일 전처리
# 엑셀로 만든 CSV 파일 인코딩을 엑셀에서 UTF-8로 저장해도 UTF-8 이나 EUC-KR 로 인코딩할 때 에러 발생
# CP949로 인코딩 성공
# NaN 확인할 때는 import math -> math.isnan(x)

def clean_file(fileName, save=False, replace=False):
    import pandas as pd
    if replace:
        save = True
    [fname, ftype] = str(fileName).split('.')
    try:
        if ftype == 'csv':
            df = pd.read_csv(fileName, dtype={'거래처코드':'str'})
            print(fileName+ ' is loaded with encoding = UTF-8')
        elif ftype == 'xlsx':
            df = pd.read_excel(fileName)
        df = col_check(df)

        if not replace:
            fileName = fname+'_cleaned.'+ftype

        if save:
            if ftype == 'csv':
                df.to_csv(fileName, index=False)

            elif ftype == 'xlsx':
                df.to_excel(fileName, index=False)
        return df

    except UnicodeDecodeError:
        df = pd.read_csv(fileName, encoding='CP949')
        print(fileName+ ' is loaded with encoding = CP949')
        df = col_check(df)
        return df

    except Exception as ex:
        print('%s' % (ex))


def col_check(df):
    colList = list(df.columns)
    for col in colList:
        if "Unnamed:" in col:  # 이름이 없는 칼럼 삭제
            df = df.drop(col, axis=1)
            colList = list(df.columns)
    newcolList = []
    for col in colList:
        if "\t" in col:
            new = str(col).replace('\t', '')
        else:
            new = col
        newcolList.append(new)
    df.columns = newcolList
    return df

In [ ]:
fDir = 'C:/vscodeFiles/'
fileName = 'result.csv'
df = clean_file(fDir+fileName)
df

In [ ]:
df.to_csv(fDir+fileName, encoding='UTF-8')

In [ ]:
sales_all = pd.read_sql_table('sales_all', con=engine)
sales_all

In [15]:
# 해당 모듈들이 설치되어 있어야 함
# sqlalchemy, pymssql
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import select
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import text
from sqlalchemy.engine.url import URL
from sqlalchemy.types import NVARCHAR
import pymssql

db_url = {
    'database': "TutorialDB",
    'drivername': 'mssql+pymssql',
    'username': 'se2p00',
    'password': 'rmeo9821',
    'host': '222.234.151.23', #'DESKTOP-641NT7L', '192.168.55.231', '222.234.151.23'
    'port': '1433',
    'query': {'charset': 'UTF-8'},  # the key-point setting
}

engine = create_engine(URL(**db_url), echo=True)
#engine = create_engine("mssql+pyodbc://user:password@host:port/databasename?driver=ODBC+Driver+17+for+SQL+Server")
#engine = create_engine('mssql+pymssql://se2p00:rmeo9821@222.234.151.23:1433/dbo.sales_main ?trusted_connection=yes', echo=True)
# session 생성
sales_all = pd.read_sql_table('sales', con=engine)
sales_all

2023-04-30 02:04:18,545 INFO sqlalchemy.engine.Engine select @@version
2023-04-30 02:04:18,546 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-04-30 02:04:18,550 INFO sqlalchemy.engine.Engine SELECT schema_name()
2023-04-30 02:04:18,551 INFO sqlalchemy.engine.Engine [generated in 0.00120s] {}
2023-04-30 02:04:18,680 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2023-04-30 02:04:18,681 INFO sqlalchemy.engine.Engine [generated in 0.00136s] {}
2023-04-30 02:04:18,684 INFO sqlalchemy.engine.Engine SELECT 1 FROM fn_listextendedproperty(default, default, default, default, default, default, default)
2023-04-30 02:04:18,685 INFO sqlalchemy.engine.Engine [generated in 0.00114s] {}
2023-04-30 02:04:18,793 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-30 02:04:18,797 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_1)s AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_2)s AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2023-04-30 02:04:18,798 INFO sqlalchemy.engine.Engine [generated in 0.00095s] {'table_type_1': 'BASE TABLE', 'table_type_2': 'VIEW', 'table_name_1': 'sales', 'table_schema_1': 'dbo'}
2023-04-30 02:04:18,814 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_1)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2023-04-30 02:04:18,815 INFO sqlalchemy.engine.Engine [generated in 0.00135s] {'table_schema_1': 'dbo', 'table_type_1': 'BASE TABLE'}
2023-04-30 02:04:18,846 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC) AS increment_value, CAST(sys.extended_properties.value AS NVARCHAR(max)) AS comment
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(%(table_schema_1)s AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(%(table_schema_1)s AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.extended_properties ON sys.extended_properties.class = %(class_1)s AND sys.extended_properties.major_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(%(table_schema_1)s AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.extended_properties.minor_id = [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION] AND sys.extended_properties.name = CAST(%(name_1)s AS NVARCHAR(max))
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_2)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2023-04-30 02:04:18,847 INFO sqlalchemy.engine.Engine [generated in 0.00127s] {'table_schema_1': '.', 'class_1': 1, 'name_1': 'MS_Description', 'table_name_1': 'sales', 'table_schema_2': 'dbo'}
2023-04-30 02:04:18,940 INFO sqlalchemy.engine.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME], objectproperty(object_id([C].[TABLE_SCHEMA] + CAST(%(table_schema_1)s AS NVARCHAR(max)) + [C].[CONSTRAINT_NAME]), %(objectproperty_1)s) AS is_clustered
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(table_schema_2)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME], [C].[ORDINAL_POSITION]
2023-04-30 02:04:18,940 INFO sqlalchemy.engine.Engine [generated in 0.00090s] {'table_schema_1': '.', 'objectproperty_1': 'CnstIsClustKey', 'table_name_1': 'sales', 'table_schema_2': 'dbo'}
2023-04-30 02:04:19,104 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_1)s AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_2)s AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2023-04-30 02:04:19,105 INFO sqlalchemy.engine.Engine [cached since 0.3078s ago] {'table_type_1': 'BASE TABLE', 'table_type_2': 'VIEW', 'table_name_1': 'sales', 'table_schema_1': 'dbo'}
2023-04-30 02:04:19,108 INFO sqlalchemy.engine.Engine WITH fk_info AS (
    SELECT
        ischema_ref_con.constraint_schema,
        ischema_ref_con.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_ref_con.unique_constraint_schema,
        ischema_ref_con.unique_constraint_name,
        ischema_ref_con.match_option,
        ischema_ref_con.update_rule,
        ischema_ref_con.delete_rule,
        ischema_key_col.column_name AS constrained_column
    FROM
        INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS ischema_ref_con
        INNER JOIN
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col ON
            ischema_key_col.table_schema = ischema_ref_con.constraint_schema
            AND ischema_key_col.constraint_name =
            ischema_ref_con.constraint_name
    WHERE ischema_key_col.table_name = CAST(%(tablename)s AS NVARCHAR(max))
        AND ischema_key_col.table_schema = CAST(%(owner)s AS NVARCHAR(max))
),
constraint_info AS (
    SELECT
        ischema_key_col.constraint_schema,
        ischema_key_col.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_key_col.column_name
    FROM
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col
),
index_info AS (
    SELECT
        sys.schemas.name AS index_schema,
        sys.indexes.name AS index_name,
        sys.index_columns.key_ordinal AS ordinal_position,
        sys.schemas.name AS table_schema,
        sys.objects.name AS table_name,
        sys.columns.name AS column_name
    FROM
        sys.indexes
        INNER JOIN
        sys.objects ON
            sys.objects.object_id = sys.indexes.object_id
        INNER JOIN
        sys.schemas ON
            sys.schemas.schema_id = sys.objects.schema_id
        INNER JOIN
        sys.index_columns ON
            sys.index_columns.object_id = sys.objects.object_id
            AND sys.index_columns.index_id = sys.indexes.index_id
        INNER JOIN
        sys.columns ON
            sys.columns.object_id = sys.indexes.object_id
            AND sys.columns.column_id = sys.index_columns.column_id
)
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        constraint_info.table_schema AS referred_table_schema,
        constraint_info.table_name AS referred_table_name,
        constraint_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN constraint_info ON
            constraint_info.constraint_schema =
                fk_info.unique_constraint_schema
            AND constraint_info.constraint_name =
                fk_info.unique_constraint_name
            AND constraint_info.ordinal_position = fk_info.ordinal_position
    UNION
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        index_info.table_schema AS referred_table_schema,
        index_info.table_name AS referred_table_name,
        index_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN index_info ON
            index_info.index_schema = fk_info.unique_constraint_schema
            AND index_info.index_name = fk_info.unique_constraint_name
            AND index_info.ordinal_position = fk_info.ordinal_position

    ORDER BY fk_info.constraint_schema, fk_info.constraint_name,
        fk_info.ordinal_position

2023-04-30 02:04:19,110 INFO sqlalchemy.engine.Engine [generated in 0.00186s] {'tablename': 'sales', 'owner': 'dbo'}
2023-04-30 02:04:19,654 INFO sqlalchemy.engine.Engine select ind.index_id, ind.is_unique, ind.name, case when ind.index_id = 1 then cast(1 as bit) else cast(0 as bit) end as is_clustered, ind.filter_definition from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(%(tabname)s AS NVARCHAR(max)) and sch.name=CAST(%(schname)s AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0 order by ind.name
2023-04-30 02:04:19,655 INFO sqlalchemy.engine.Engine [generated in 0.00138s] {'tabname': 'sales', 'schname': 'dbo'}
2023-04-30 02:04:19,713 INFO sqlalchemy.engine.Engine select ind_col.index_id, ind_col.object_id, col.name, ind_col.is_included_column from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(%(tabname)s AS NVARCHAR(max)) and sch.name=CAST(%(schname)s AS NVARCHAR(max))
2023-04-30 02:04:19,714 INFO sqlalchemy.engine.Engine [generated in 0.00145s] {'tabname': 'sales', 'schname': 'dbo'}
2023-04-30 02:04:19,789 INFO sqlalchemy.engine.Engine
            SELECT cast(com.value as nvarchar(max))
            FROM fn_listextendedproperty('MS_Description',
                'schema', CAST(%(schema)s AS NVARCHAR(max)), 'table', CAST(%(table)s AS NVARCHAR(max)), NULL, NULL
            ) as com;

2023-04-30 02:04:19,790 INFO sqlalchemy.engine.Engine [generated in 0.00117s] {'schema': 'dbo', 'table': 'sales'}
2023-04-30 02:04:19,797 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_1)s AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_2)s AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max))
2023-04-30 02:04:19,798 INFO sqlalchemy.engine.Engine [generated in 0.00125s] {'table_type_1': 'BASE TABLE', 'table_type_2': 'VIEW', 'table_name_1': 'sales'}
2023-04-30 02:04:19,813 INFO sqlalchemy.engine.Engine SELECT sales.[index], sales.[품목구분], sales.[품목코드], sales.[품목명], sales.[규격], sales.[수량], sales.[단위], sales.[단가], sales.[공급가], sales.[합계], sales.[거래처코드], sales.[거래처], sales.[거래처그룹1], sales.[거래처그룹2], sales.[담당자], sales.[개설연도], sales.[지역구분], sales.[인센가입], sales.[품목그룹1], sales.[품목그룹2], sales.[인센품목]
FROM sales
2023-04-30 02:04:19,814 INFO sqlalchemy.engine.Engine [generated in 0.00132s] {}
2023-04-30 02:04:26,107 INFO sqlalchemy.engine.Engine COMMIT

,index,품목구분,품목코드,품목명,규격,수량,단위,단가,공급가,합계,...,거래처,거래처그룹1,거래처그룹2,담당자,개설연도,지역구분,인센가입,품목그룹1,품목그룹2,인센품목
0,0,[상품],FBP-000749,"TFB-ES118BSC 1Φ 220V, 60HZ",TFB-ES118BSC,-3,EA,"36,050","-108,150","-118,965",...,팬조아,영업_대리점,영업_산업,윤형설,2012,경기도 시흥시,None,10_시로코팬,A8_소형송풍기,Y
1,1,[상품],FBP-000095,"TFT-20 1Φ 220V, 50/60HZ",TFT-20,-2,EA,"70,000","-140,000","-154,000",...,세한공조,영업_대리점,영업_산업,윤형설,20016 이전,광주광역시 북구,적용,30_덕트팬,C5_포터블팬,Y
2,2,[제품],FBP-000642,"TFV-306GSV 1Φ 220V, 60HZ",TFV-306GSV,-1,EA,"19,000","-19,000","-20,900",...,명성전기(S),영업_대리점,영업_산업,윤형설,2014,강원도 속초시,None,40_플라스틱팬,D1_플라스틱팬,Y1
3,3,[제품],FBP-000635,"TFV-25ASG 1Φ 220V, 60HZ",TFV-25ASG,-1,EA,"15,000","-15,000","-16,500",...,명성전기(S),영업_대리점,영업_산업,윤형설,2014,강원도 속초시,None,40_플라스틱팬,D1_플라스틱팬,Y1
4,4,[제품],FBP-000461,"●TFS-GD20CS 1Φ 220V, 60HZ",TFS-GD20CS,-1,EA,"121,000","-121,000","-133,100",...,(X)한양공사 -> 20924,영업_대리점,영업_산업,None,2009,경기도 시흥시,적용,10_시로코팬,A5_스트레이트시로코팬,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184349,184349,[무형상품],2015-0100,인센티브,None,-1,None,"316,100","-316,100","-347,710",...,화신공조상사(청주),영업_대리점,영업_산업,윤형설,2006이전,충청북도 청주시,None,품X_비용,품X90_기타비용,N
184350,184350,[무형상품],2015-0100,인센티브,None,-1,None,"303,100","-303,100","-333,410",...,한양닥트제작,영업_대리점,영업_산업,윤형설,2009,경기 시흥시,None,품X_비용,품X90_기타비용,N
184351,184351,[무형상품],2015-0100,인센티브,None,-1,None,"337,600","-337,600","-371,360",...,에이원풍력닥트,영업_대리점,영업_산업,윤형설,2006이전,경기도 용인시,적용,품X_비용,품X90_기타비용,N
184352,184352,[무형상품],2015-0100,인센티브,None,-1,None,"344,300","-344,300","-378,730",...,(주)대성풍력,영업_대리점,영업_산업,윤형설,2006이전,서울특별시 금천구,None,품X_비용,품X90_기타비용,N
184353,184353,[무형상품],2015-0100,인센티브,None,-1,None,"398,400","-398,400","-438,240",...,동북산업,영업_대리점,영업_산업,윤형설,2006이전,인천광역시 동구,적용,품X_비용,품X90_기타비용,N

In [ ]:
# Table 생성 테스트

from sqlalchemy.types import NVARCHAR, DATE, Integer
dataTypeList = [NVARCHAR]*(len(df.columns)-1)
columnList = list(df.columns)
dTypeDict = dict(zip(columnList, dataTypeList))
dTypeDict['일자'] = DATE
dTypeDict['단가'] = Integer
dTypeDict['공급가'] = Integer
dTypeDict['합계'] = Integer
dTypeDict['수량'] = Integer

df = sales_all
conn = engine.connect()
df.to_sql(name='sales_sample', con=engine,
          if_exists='replace', index=False, dtype=dTypeDict)
conn.close()
sales_sample = pd.read_sql_table('sales_sample', con=engine)

In [ ]:
# 조건에 해당하는 데이터 뽑기
newdf = sales_sample[sales_sample['단가'] > 1000000]
newdf.to_excel('sample.xlsx')

In [ ]:
import pymssql

# DB 서버 주소
server = 'FZ_SA_DGKIM'
# 데이터 베이스 이름
database = 'dbo.sales_main'
# 접속 유저명
username = 'se2p00'
# 접속 유저 패스워드
password = 'rmeo9821'


# MSSQL 접속
cnxn = pymssql.connect(server, username, password, database)
cursor = cnxn.cursor()

# SQL문 실행
cursor.execute('SELECT * FROM dbo.sales_all;')